@{
    ViewData["Title"] = "Home Page";
}

<div style="padding-top:50px;"> </div>
<ul>
    This is the User Authentication Please click on Login and without login their is no longer access in any module
    <br />
    <h1>Hello this is  Index Page </h1>
    
</ul>
